body {
  margin: 0;
  
}

#red_block {
  background-color: red;
  height: 100px;
  
}

#green_block {
  background-color: green;
  height: 100px;
  
}

#blue_block {
  background-color: blue;
  height: 100px;
  
}
