body {
  margin: 0 auto;
  padding: 0;
}

.size {
  height: 100px;
  width: 100%;
}

.block-red {
  background-color: red;
}

.block-green {
  background-color: green;
}

.block-blue {
  background-color: blue;
}
