.red-block {
  background-color: red;
  height: 100px;
}

.green-block {
  background-color: green;
  height: 100px;
}

.blue-block {
  background-color: blue;
  height: 100px;
}

body {
  margin: auto;
}
