body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

div {
  height: 100px;
  margin: 0;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
