body {
  margin: 0;
}

.red {
  background-color: red;
  height: 100px;
  width: 100%;
}

.green {
  background-color: green;
  height: 100px;
  width: 100%;

}

.blue {
  background-color: blue;
  height: 100px;
  width: 100%;
}
