* {
  margin: 0;
  padding: 0;
}

.d1 {
  background-color: red;
  width: 100%;
  height: 100px;
}

.d2 {
  background-color: green;
  width: 100%;
  height: 100px;
}

.d3 {
  background-color: blue;
  width: 100%;
  height: 100px;
}
