body {
  margin: 0.01px;
}

.red {
  background-color: red;
  width: 100%;
  height: 100px;
}

.blue {
  background-color: blue;
  width: 100%;
  height: 100px;
}

.green {
  background-color: green;
  width: 100%;
  height: 100px;
}
