* {
  margin: 0;
}

.color1 {
  background-color: red;
  height: 100px;
}

.color2 {
  background-color: green;
  height: 100px;
}

.color3 {
  background-color: blue;
  height: 100px;
}
